{% extends "base.html" %}
{% block title %}Welcome back {{ current_user.username }}!{% endblock %}
{% block user %}
<div class="container user">
	<div class="row">
        <div class="col-md-12">
            <h2>Here are the details on the last couple of days:</h2>
        </div>
	</div>
    <div class="row">
    <div class="col-md-6">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Time: {{feeds[0][1]}}
              </a>
            </h4>
          </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      <pre style="text-align:left;">
      <script type="text/javascript">
        document.write(JSON.stringify({{feeds[0][2]}}, null, 4));
      </script>
      </pre>
      </div>
    </div>
  </div>
  {% for feed in feeds[1:] %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{feed[0]}}" aria-expanded="false" aria-controls="{{feed[0]}}">
          Time: {{feed[1]}}
        </a>
      </h4>
    </div>
    <div id="{{feed[0]}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
      <pre style="text-align:left;">
      <script type="text/javascript">
        document.write(JSON.stringify({{feed[2]}}, null, 4));
      </script>
      </pre>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
  </div>
      <div class="col-md-2">
        <ul data-pie-id="svg"><p>
          {% for key, value in dataset.items() %}
            <li data-value="{{ value }}">{{ key }} ({{ value }})</li>{% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <div id="svg"></div>
      </div>
    </div>
</div>

{% endblock %}

 {% block scripts %}<script type="text/javascript" src="//cdn.jsdelivr.net/snap.svg/0.1.0/snap.svg-min.js"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>{% endblock %}